mixin accountingBlock(account={})
    tr(data-id=account.id data-item=account.item)
        td #{account.month + 1}월 #{account.date}일
        td.item=account.item
        td=account.itemDetail
        td=account.title
        td=account.detail
        td.value=account.value
        td.balance
        td=account.id