mixin blogBlock(blog={})
    li(data-id=blog.id)
        a(href=`/blog/${blog.id}`)
            div
                h4=blog.title 
            div
                span=blog.year
                span=blog.month 
                span=blog.date