mixin blogBlock(blog={})
    li(data-id=blog.id)
        a(href=`/blog/${blog.id}`)
            div
                h4=blog.title 
            div.date_box
                span=blog.year
                span #{blog.month.length < 3? `0${blog.month}`: blog.month }
                span #{blog.date.length < 3? `0${blog.date}`: blog.date }