mixin documentsBlock(rules={})
    li
        a(href=`/documents/rules/${rules.id}`)
            div
                h4=rules.title
            div
                span=rules.year
                span=rules.month 
                span=rules.date
