mixin documentsBlock(rules={})
    li(data-id=rules.id)
        a(href=`/documents/rules/${rules.id}`)
            div
                h4=rules.title
            div.date_box
                span=rules.year
                span #{rules.month.length < 3? `0${rules.month}`: rules.month }
                span #{rules.date.length < 3? `0${rules.date}`: rules.date }
