mixin qtBlock(qt={})
    li 
        a(href=`/qt/${qt.id}`)
            div
                h4=qt.title 
            div
                span=qt.year
                span=qt.month 
                span=qt.date