mixin worshipBlock(worship={})
    li(data-id=worship.id)
        a(href=`worship/${worship.id}`)
            div
                h4=worship.title
            div.date_box
                span=worship.year
                span #{worship.month.length < 3? `0${worship.month}`: worship.month }
                span #{worship.date.length < 3? `0${worship.date}`: worship.date }
