extends ../layout/layout.pug

block content
    .contents_wrapper(data-id=data._id)
        .inform_wrapper
            h1.head_title=data.title
            if loggedIn && String(user._id) === String(data.creator ? data.creator._id : "none")
                div.button_wrapper
                    a(href=`/blog/update/${data.id}`).edit_button
                        span.material-icons-outlined edit
        .inform_wrapper
            .views 
                span 조회수 
                    if data.views === 0
                        | 0
                    else
                        | #{data.views}
            .date
                span #{data.year} 
                span #{data.month} 
                span #{data.date} 
                span #{data.day} 
                span #{data.time}
        .component_wrapper
            #blog_viewer
    