extends ../layout/layout.pug

block content
    .user_detail_wrapper
        .profile_inform_wrapper
            .profile_inform_box
                .image_wrapper 
                    if user.profilePhotoUrl == null
                        span=user.name.slice(1,3)
                    else    
                        img(src=`${isHeroku ? user.profilePhotoUrl : "/" + user.profilePhotoUrl}`, alt="프로필 사진")
                if errorMessage
                    h1=errorMessage
                .profile_inform
                    p.name=user.name
                    div.email
                        span.material-icons-outlined.icon email
                        span=user.email 
                    // p=user.userName
                        
                    if loggedIn && String(user._id) === String(user.id)
                        .profile_edit 
                            a(href=`/user/${user.id}/edit-profile`).profile_edit_button 프로필 수정
        .user_log_inform_wrapper
            div
                .title_wrapper
                    h1.head_title 내가 쓴 글
                    
                    if user.blog.length > 0
                        section.user_log_item_wrapper
                            .item_inform_wrapper
                                h2.head_title 묵상 에세이   
                            .item_list_wrapper
                                ul 
                                    each item in user.qt
                                        li
                                            a(href=`/qt/${item.id}`)
                                                div
                                                    h3=item.title 
                                                    p=item.paragraph
                    if user.worship.length > 0 && user.authority === "master" || user.worship.length >0 && user.authority === "multimedia"
                        section.user_log_item_wrapper
                            .item_inform_wrapper
                                h2.head_title 주보   
                                // button 펼침 
                            .item_list_wrapper
                                ul 
                                    each item in user.weekly
                                        li
                                            a(href=`/weekly/${item.id}`)
                                                div
                                                    h3=item.title 
                                                    p=item.paragraph
                    if user.notice.length > 0 && user.authority === "master" || user.notice.length > 0 && user.authority === "administrator"
                        section.user_log_item_wrapper
                            .item_inform_wrapper
                                h2.head_title 광고  
                                // button 펼침 
                            .item_list_wrapper
                                ul 
                                    each item in data.notice
                                        li
                                            a(href=`/notice/${item.id}`)
                                                div
                                                    h3=item.title 
                                                    p=item.paragraph
                    if user.blog.length < 1 && user.notice.length < 1 && user.worship.length < 1
                        section.user_log_item_wrapper
                            .item_inform_wrapper
                                .paragraph_wrapper
                                    p #{user.name}님은 아무것도 쓰지 않으셨어요 : ) 