extends ../layout/layout.pug

block content 
    .inform_wrapper
        h1 #{data.name} 정보 수정
        if errorMessage
            h1=errorMessage
    form(method="POST", enctype="multipart/form-data")
        input(type="file", name="profilePhotoUrl", accept="image/*" value=data.profilePhotoUrl)
        input(type="text", name="email" ,required, placeholder="이메일을 입력하세요.", value=data.email)
        input(type="text", name="userName" ,required, placeholder="닉네임을 입력해주세요." value=data.userName)
        input(type="text", name="name" ,required, placeholder="실명을 입력해주세요.",  value=data.name)
        button(type="submit") 내 정보 수정
    a(href=`/user/${data.id}/edit-password`) 비밀번호 바꾸기