extends ../../layout/layout.pug

block content 
    .contents_wrapper
        .contents_header_wrapper 
            .inform_wrapper
                h1.head_title=data.title
                if loggedIn && user.authority === "master"|| loggedIn && user.authority === "administrator"
                    div.button_wrapper
                        a(href=`/rules/${data.id}/edit`).edit_button
                            span.material-icons-outlined edit
            .inform_wrapper
                .views 
                    span 조회수 
                        if data.views === 0
                            | 0
                        else
                            | #{data.views}
                .date
                    span #{data.year} 
                    span #{data.month} 
                    span #{data.date} 
                    span #{data.day} 
                    span #{data.time}
            .component_wrapper
                #viewer
    script(src="/static/js/viewer.js") 
                    